html {
    overflow-y: scroll;
}
.anchor-teambr {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}
.teambr-background-image {
   width: 100%;
   height: 350px;
   position: relative;
   background-color: #222222;
   background-repeat: no-repeat;
   background-position: center center;
}
.teambr-panel {
    width: 70%;
}
//Footer
.teambr-footer .uk-subnav-line > li:before {
    border-color: #ddd;
}
.teambr-footer-text {
    border-color: #ddd;
    color: lightgrey
}
.teambr-footer {
    background-color: black;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px
}
.teambr-footer a {
    color: #ddd !important;
}
.teambr-footer a:hover {
    color: #fff !important;
}
